<h1>Ping Pong</h1>
<form class="" action="/results" method="post">
  <label for="new-pingPong">Type your number here</label>
  <input type="button" name="new-pingPong" id="new-pingPong" value="">
  <button type="submit" name="button">Click here to see your results</button>
</form>
